* {
    box-sizing: border-box;
}
body {
    margin: 50px;
    font-size: 17px;
}

h1 {
    font-family: 'Indie Flower';
}

table {
    width: 600px;
}

table thead {
    background-color: #ccc;
}
th {
    font-weight: normal;
}

th, td {
    padding: 10px;
    text-align: left;
}

tbody tr:hover {
    background-color: rgb(243, 238, 206);
}

tbody tr:nth-child(even) {
    background-color: #eee;
}