#titulo {
    background-color: #F00;
    width: 10%;
}

p {
    border: 3px solid #999;
    border-radius: 5px;
    width: 10%;

}

button {
    background-color: #999;
    border: 5px outset #000;
}

div {
    width: 200px;
    height: 200px;
    background-color: aqua;
    border-radius: 100%;
    border: 7px solid #0faef8;
}

img {
    border: 5px solid red;
    border-radius: 30px;
    overflow: hidden;
}