:root {
    --bg-color: #fff;
    --bg-second: #CCC;
    --font-color: #F00;
}

body {
    background-color: var(--bg-color);
}

h1 {
    color: var(--font-color, #00F);
}

.container {
    background-color: var(--bg-second);
    color: var(--font-color);
}