* {
    margin: 0;
    font-family: Arial;

}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}

nav .active a,
nav a:hover {
    background-color: #39aae1;
    color: #fff;
}

#banner {
    display: flex;
    justify-content: center;
    background-image: url('../images/img1.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
}

.column {
    flex-direction: column;
}

.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_headline h1 {
    color: #fff;
    font-size: 70px;
    text-shadow: 0px 1px 0 #555;
    margin: 0;
    padding: 0;
    max-width: 350px;
}

.banner_headline h2 {
    color: #fff;
    font-size: 19px;
    text-shadow: 0px 1px 0 #555;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 21px;

}

.banner_options {
    height: 210px;
    display: flex;
}

.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: #fff;
    padding: 20px;
}

.banner1 {
    background-color: #39aae1;
}

.banner2 {
    background-color: #0079c7;
}

.banner3 {
    background-color: #2b4c99;
}

.banner_title {
    font-size: 21px;
}

.banner_desc {
    font-size: 12;
    margin: 20px 0px 20px 0px;
}

.banner_options a {
    display: inline-block;
    border: 1px solid #fff;
    padding: 5px;
    color: #fff;
    font-size: 13px;
    text-decoration: none;
}

.banner_hours {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
}

#geral {
    display: flex;
    justify-content: center;
}

#geral section {
    flex: 2;
}

#geral aside {
    flex: 1;
}

.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_title_text {
    color: 000;
    font-size: 21px;
    font-weight: bold;
}

.widget_title_bar {
    width: 50px;
    height: 3px;
    background-color: #36a9e1;
    margin-top: 10px;
}

.two_box_line {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
    
}

.box {
    width: 50%;
    height: 145px;
    background-color: #36a9e1;
}

.contacts {
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.contacts p{
    border-bottom: 1px solid #999;
    padding-bottom: 10px;
    color: #777;
}

.contacts a {
    text-decoration: none;
    font-size: 14px;
    color: #777;
    border-bottom: 1px solid #999;
    padding-bottom: 10px;
    padding-top: 10px;
}
.contacts img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

article a {
    text-decoration: none;
}

article .news_data {
    display: flex;
}

article .news_posted_at {
    background-color: #2b4c99;
    color: #fff;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;

}

article .news_comments {
    background-color: #39aae1;
    color: #fff;
    font-size: 12px;
    padding: 10px;
}

article .news_tumbnaill{
    margin-top: 30px;
}

article .news_tumbnaill img {
    width: 100%;
    height: auto;
}

article .news_title {
    margin: 25px 0px;
    color: #000;
    font-size: 25px;
}

article .news_resume {
    color: #5c5c5c;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 30px;
}

footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}

.footer_menu {
    display: flex;
}

.fm_1, .fm_2, .fm_3 {
    flex: 1;
    color: #fff;
}

.fm_1 {
    background-color: #39aae1;
}

.fm_2 {
    background-color: #0079c7;
}

.fm_3 {
    background-color: #2b4c99;
}

.fm_title {
    font-size: 24px;
}

.fm_text {
    font-size: 14px;
    line-height: 30px
}

.footer_menu a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 20px;
}

.footer_area {
    display: flex;
}

.footer_areaItem{
    flex: 1;
    color: #fff;
}
    
.flexColumn {
    flex-direction: column;
}

.footer_copy {
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    color: #5c5c5c;
}

.content_desc {
    width: 100%;
    margin-bottom: 25px;
}
.content_adress {
    width: 50%;
}
.content_contacts {
    width: 50%;
}
.content a {
    text-decoration: none;
    color: #fff;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    color: #fff;
    margin-right: 20px;
}

.post {
    margin-bottom: 25px;
    line-height: 15px;
}

.date {
    color: #36a9e1;
    margin-left: 20px;
}

.post span {
    margin-right: 8px;
}

.tweet_post {
    margin-bottom: 25px;
    line-height: 15px;
    color: #5c5c5c;
}

.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
    margin: 35px 0px 45px 0px;
}

.mm_line {
    height: 3px;
    background-color: #39aae1;
}

@media (max-width:600px) {
    .column {
        flex-direction: row;
    }

    .container {
        flex-direction: column;
    }

    #banner {
        height: auto;
    }
    .banner_headline {
        padding: 20px;
        margin: 70px 0px;
    }

    .banner_headline h1 {
        font-size: 55px;
    }

    .banner_headline h2 {
        font-size: 16px;
    }

    .banner_options{
        height: auto;
        flex-direction: column;
    }

    #geral section,
    #geral aside .widget_body,
    #geral aside .widget_title{
        padding: 20px;
    }

    .widget_body  article{
        margin: 0;
    }

    .footer_menu {
        flex-direction: column;
    }

    .footer_area {
        flex-direction: column;
        padding: 20px;
    }

    .footer_copy {
        text-align: center;
    }

    header {
        height: auto;
    }

    header .container {
        flex-direction: row;
    }

    nav ul {
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 120px; /* Define a distância do topo da página (altura do header) */
        width: 100%;
        background-color: #fff;
        z-index: 20; /* Garante que fique acima do container (que tem z-index padrão de auto ou 0) */
        display: none; /* Inicialmente escondido */
    }

    .logo {
        padding-left: 20px;
    }

    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        z-index: 30; /* Garante que o ícone mobile fique acima do menu */
    }
}

/*top: 120px; em nav ul: Assumindo que a altura do seu header é de 120px, 
isso fará com que o menu dropdown comece logo abaixo do header, sobrepondo o
 restante do conteúdo (incluindo o .container principal). Se a altura do seu 
 header for diferente, ajuste esse valor.

z-index: 20; em nav ul: O z-index controla a ordem de empilhamento de elemento
s posicionados. Um valor maior significa que o elemento ficará na frente de elementos
 com valores menores ou com o z-index padrão (auto ou 0). Ao definir um z-index alto para
  o nav ul, você garante que ele se sobreponha ao .container que não tem um z-index explicitamente
   definido (e, portanto, terá um valor menor).

display: none; em nav ul (dentro da media query): Inicialmente, o menu mobile estará escondido. 
Você precisará de JavaScript para alterar o display para block (ou flex, dependendo do seu layout 
interno do menu) quando o ícone do .menuMobile for clicado.

z-index: 30; em .menuMobile: É uma boa prática garantir que o ícone do 
menu mobile (.menuMobile) tenha um z-index ainda maior para que ele sempre 
fique visível acima do menu quando este estiver aberto.*/